ANTHROPIC_API_KEY="REPLACE_WITH_ACTUAL_VALUE"
OPENAI_API_KEY="REPLACE_WITH_ACTUAL_VALUE"
XAI_API_KEY="REPLACE_WITH_ACTUAL_VALUE"

GOOGLE_GENAI_USE_VERTEXAI=True
GOOGLE_CLOUD_PROJECT="REPLACE_WITH_ACTUAL_VALUE"
GOOGLE_APPLICATION_CREDENTIALS="REPLACE_WITH_ACTUAL_VALUE"